<courses>
  {{#each courses}}
    <course data-id="{{id}}">
      <course-name>{{name}}</course-name>
      <department-code>{{#department_code department_id}}</department-code>
      <course-number>{{number}}</course-number>
      <course-credits>{{#range min_credits max_credits}}</course-credits>
      <course-description>{{description}}</course-description>
      <sections>
        {{#each sections}}
          <section data-id="{{id}}">
            <section-name>Section {{name}}</section-name>
            <section-instructors>{{#join instructors}}</section-instructors>
            <section-seats-available>{{#subtract seats seats_taken}}</section-seats-available>
          </section>
        {{/each}}
      </sections>
    </course>
  {{/each}}
</courses>