<courses>
  {{#courses}}
    <course data-id="{{id}}">
      <course-info>
        <course-name>{{name}}</course-name>
        <department-code>{{department_code department_id}}</department-code>
        <course-number>{{number}}</course-number>
        <course-credits>{{course_credits this}}</course-credits>
        <course-description>{{description}}</course-description>
      </course-info>
      <sections>
        {{#sections}}
          <section data-id="{{id}}">
            <section-name>Section {{name}}</section-name>
            <section-instructors>{{join instructors}}</section-instructors>
            <section-seats-available>{{course_seats this}}</section-seats-available><section-seats>/{{seats}} seats</section-seats>
          </section>
        {{/sections}}
      </sections>
    </course>
  {{/courses}}
</courses>
