<courses>
  {{#courses}}
    <course data-id="{{id}}">
      <course-info>
        <course-name>{{name}}</course-name>
        <department-code>{{department_code department_id}}</department-code>
        <course-number>{{number}}</course-number>
        <course-credits>{{course_credits this}}</course-credits>
        <course-description class="truncated overflow">{{description}}</course-description>
      </course-info>
      <show-hide-button></show-hide-button>
      <sections>
        {{#sections}}
          <section data-id="{{id}}">
            <section-name>{{name}}</section-name>
            <section-instructors>{{join instructors}}</section-instructors>
            <section-seats-available>{{course_seats this}}</section-seats-available><section-seats>/{{seats}} seats</section-seats>
            <section-crn>{{crn}}</section-crn>
            <section-periods>
              {{#periods}}
                <section-period>
                  <period-day>{{day_name day}}</period-day>
                  <period-time>{{time_range start end}}</period-time>
                </section-period>
              {{/periods}}
            </section-periods>
          </section>
        {{/sections}}
      </sections>
    </course>
  {{/courses}}
</courses>
