<div id="scheduleContent">
  <div id="scheduleBar">
    <span id="leftswitch" class="scheduleswitch">&#9664;</span>
    Schedule <span id="schedNum">1</span>/{{schedules.length}}
    <span id="rightswitch" class="scheduleswitch">&#9654;</span>
  </div>
  <div id="scheduleTable">
    <ul class="narrowcol">
      <li class="heading"></li>
      {{CREATE MORE LI ELEMENTS FOR EACH HOUR IN THE SCHEDULE}}
    </ul>
    {{SUNDAY}}
    {{MONDAY}}
    {{TUESDAY}}
    {{WEDNESDAY}}
    {{THURSDAY}}
    {{FRIDAY}}
    {{SATURDAY}}
  </div>
  <div id="crns">{{GET CRNS}}</div>
  <!-- Previously the div#deselectContent is here, but we are going to redesign that whole system so I am not putting it here -->
</div>
